<h2>The portal outlet is in below</h2>
<div class="example-portal-outlet">
    <ng-template [cdkPortalOutlet] = "selectedPortal"></ng-template>
</div>
<ng-template #templatePortalContent>Hello, This is template portal</ng-template>

<button (click)="selectedPortal = componentPortal">Render the component portal</button>
<button (click)="selectedPortal = templatePortal">Render template portal</button>
<button (click)="selectedPortal = domPortal">Render dom portal</button>

<div #domPortalContent>Hello, this is dom portal</div>